@using CinemaCardFile.Models
@model IndexViewModel
@addTagHelper *, CinemaCardFile
@{
    ViewData["Title"] = "Каталог фильмов";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CinemaLib</h1>
</div>
<div style='width:900px;' class="mx-auto">
    <a class="btn btn-outline-primary w-100 my-3" asp-area="" asp-controller="Home" asp-action="AddFilm">Добавить фильм</a>
    @foreach (var item in Model.films)
    {
        <a style="text-decoration:none" asp-action="ViewFilm" asp-route-id="@item.Id">
            <div style='width:auto; height:240px;' class="card row mb-2">
                @if (item.Poster != null)
                {
                    <img style='width:150px; height:219px;' class="ml-3 m-2" src="data:image/jpeg;base64,@(Convert.ToBase64String(item.Poster))" />
                }
                else
                {
                    <img style='width:150px; height:219px;' class="ml-3 m-2" src="~/res/noImage.png" />
                }
                <div class="col-md-9 my-3 text-right btn">
                    <h1>@item.Name</h1>
                    <div>
                        <p>@item.Year</p>
                    </div>
                    <div>
                        <p>@item.Producer</p>
                    </div>
                </div>
            </div>
        </a>
    }
    <div>
        <ul class="pagination">
            @if (Model.pageViewModel.GoToFirstPage)
            {
                <li class="page-item"><a asp-action="Index" asp-route-page="1" class="page-link">В начало</a></li>
            }
            <link-page pagin-model="@Model.pageViewModel" curr-page="Index"></link-page>
            @if (Model.pageViewModel.GoToLastPage)
            {
                <li class="page-item"><a asp-action="Index" asp-route-page="@(Model.pageViewModel.maxPages)" class="page-link">В конец</a></li>
            }
        </ul>
    </div>
</div>
    
